<p>
Note :-

1. You can also complaint by other sources.

2. Complainants name will not be disclosed.

3. You can also send complaint on 
transportcommissioner@trafficpolicemumbai.org, 
rto.tardeo@trafficpolicemumbai.org, 
rto.andheri@trafficpolicemumbai.org 
rto.wadala@trafficpolicemumbai.org
</p>

 
</p>
<strong>Regional Transport Office – RTO in Andheri</strong>

Address: Regional Transport Office, D/111, Ambivali Village, Versova Road, Near Manish Nagar, Andheri (West), Mumbai, Pincode – 400053.
Telephone Number: 6362252, 26366957, 26319821
</p>

</p>
<strong>Regional Transport Office – RTO in Ghatkopar</strong>
Telephone Number: 25115202
</p>

</p>
<strong>Regional Transport Office – RTO in Thane</strong>
Telephone Number: 25340474
</p>

</p>
<strong>Regional Transport Office – RTO in Worli</strong>
Address: 25/Sir Pochkhanwala Road, Worli, Pincode : 400025, Mumbai

Telephone Number: 25340474
</p>

<p>
<strong>Regional Transport Office – RTO in Wadala</strong>
Address: B/2, 3rd Flr, Wadala Truck Terminal, Wadala Road, Pincode : 400037
</p>

<p> 
<strong>Regional Transport Office – RTO In Tardeo</strong>
Address: Old Bodyguard Lane, Tulsiwadi Tardeo, Mumbai, Pincode – 400034.
Telephone Number: 24944600, 24932337, 24944601, 24944602
</p>